/2024/.idea/.gitignore
/untitled/.idea/.gitignore
/2024/01/.idea/01.iml
/2024/01/.idea/misc.xml
/2024/01/.idea/modules.xml
/untitled/.idea/modules.xml
/untitled/.idea/untitled.iml
/2024/01/.idea/vcs.xml
/untitled/.idea/vcs.xml
/aoc/.idea/workspace.xml
/2024/files

.gitignore
